.form-select{
    width: 462px;
    margin: auto;
    color: rgb(129, 126, 126);
        height: 48px;
    // background: #ddd;
}
.form {
border-top: 1px solid #ddd;
border-bottom: 1px solid rgba(221, 221, 221, 0.486);
overflow: hidden;

}
input{
    width: 83%;
}