.login{
    .input{
    width: 463px;
}
.form {
    // border: 1px solid #ddd;
    padding: 81px 0px;
    -webkit-box-shadow: 0px 0px 31px 11px #D4CBCD; 
box-shadow: 0px 0px 31px 11px #D4CBCD;
-webkit-box-shadow: 0px 9px 34px 11px #D4CBCD; 
box-shadow: 0px 9px 34px 11px #D4CBCD;
}
}